# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Logs
*.log

# PyMOL session files
*.pse
*.psw

# AutoDock Vina temporary files
*.txt
*.log
*.dlg

# Results (optional — keep only final)
docking/logs/*
docking/poses/*.pdbqt

# Word temporary files
~$*.docx
